.New {
  text-align: center;
  font-family: Georgia, 'Georgia', Times, serif;
  display: flex;
  justify-content: center;
}
.Dates {
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Georgia', Times, serif;
}
.Content {
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Georgia', Times, serif;
}
hr {
  width: 1800px;
  color: black;
  }
  #one {
    flex: 50%;
    height: 100px;
    font-size: 2cm;
    }

  .firstImage {

  }

  .twodate {
  color: gray;
  font-size: 20px;
  flex: 50%;
  }
  .shifty {
    color: black;
    font-size: 15px;
    flex: 50%;
    }
    .title {
      color: black;
      font-size: 40px;
    }
  .conty {
      color:black ;
      font-size: 25px;
    }
  .authy{
  color:gray;
  font-size: 20px;
}    

    .threedate {
    color:gray;
    font-size: 20px;
    flex: 50%;}

    .titlethree {
    color: black;
    font-size: 40px;
  }
    .contythree {
    color: black;
    font-size: 25px;
    flex: 50%;}

    .authythree {
      color: gray;
      font-size: 20px;
      flex: 50%;}

    .fourdate {
    color: gray;
    font-size: 20px;
    flex: 50%;}

    .titlefour {
      color: black;
      font-size: 40px;
    }

    .contyfour {
      color: black; 
      font-size: 25px;
      flex: 50%;}

    .authyfour {
        color:gray ;
        font-size: 20px;
        flex: 50%;}