@media all and (min-width: 800px) {
  .kod   { flex: 3 0px; }
  .man { order: 1; } 
  .plane    { order: 2; }
  .conty { order: 3; }
  .title { order: 4; } }



.New {
  text-align: center;
  font-family: Georgia, 'Georgia', Times, serif;
  display: flex;
  justify-content: center;
  
}
.kod {
  display: flex;
  flex-flow: row wrap;
  align-self: left;

}
.plane {
  display:flex;
}
.man{
  display: flex;
  position: relative;
  
}
.Content {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap; 
  font-family: Georgia, 'Georgia', Times, serif;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  
  
}
hr {
  width: 1200px;
  color: black ;
  margin-left: 25px;
  margin-right:25px;

  }
  #one {
    flex: 50%;
    height: 50px;
    font-size: 2cm;
    }

  .twodate {
  color:gray ;
  font-size: 20px;
  flex: 50%;
  margin: auto;
  }
  .shifty {
    color: black;
    font-size: 15px;
    flex: 50%;
    }
    .title {
      color: black;
      font-size: 40px;
      text-align: right;
    }
  .conty {
      color:black ;
      font-size: 25px;
      text-align: right;
      flex-flow: row wrap;

      
    }
  .authy{
  color:gray;
  font-size: 20px;
}    

    .threedate {
    color:gray;
    font-size: 20px;
    flex: 50%;}

    .titlethree {
    color: black;
    font-size: 40px;
  }
    .contythree {
    color: black;
    font-size: 25px;
    flex: 50%;}

    .authythree {
      color: gray;
      font-size: 20px;
      flex: 50%;}

    .fourdate {
    color: gray;
    font-size: 20px;
    flex: 50%;}

    .titlefour {
      color: black;
      font-size: 40px;
    }

    .contyfour {
      color: black; 
      font-size: 25px;
      flex: 50%;}

    .authyfour {
        color:gray ;
        font-size: 20px;
        flex: 50%;}