.New {
  text-align: center;
  font-family: Georgia, 'Georgia', Times, serif;
  display: flex;
  justify-content: center;
}
.Dates {
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Georgia', Times, serif;

}

.Content {
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Georgia', Times, serif;
}
hr {
  width: 1800px;
  color: green;
  }

#one {
  flex: 50%;
  height: 100px;
  font-size: 2cm;

  }
  
  #twodate {
  color: gray;
  font-size: 30px;
  flex: 50%;
  }
  #twoshift {
    color: black;
    font-size: 30px;
    flex: 50%;
    }

  #threedate {
  color:gray;
  font-size: 30px;
  flex: 50%;}

  #threecontent {
    color: black;
    font-size: 30px;
    flex: 50%;}

  #fourdate {
    color: gray;
    font-size: 30px;
    flex: 50%;}

    #fourcontent {
      color: black; 
      font-size: 30px;
      flex: 50%;}